<h2>Resultado - Método da Bisseção</h2>

{{#if erro}}
<div class="alert alert-danger">{{erro}}</div>
{{else}}
<p><strong>Função:</strong> {{funcao}}</p>
<p><strong>Epsilon:</strong> {{parada}}</p>

<p><strong>Intervalos encontrados:</strong></p>
<ul>
    {{#each intervalos}}
    <li>[{{this}}]</li>
    {{/each}}
</ul>

<p><strong>Total de intervalos:</strong> {{resultados.length}}</p>

{{#each resultados}}
<div class="card mb-3">
    <div class="card-header">
        <strong>Intervalo {{@index}}:</strong> [{{this.intervalo}}]
        &nbsp; • &nbsp; <strong>Raiz:</strong> {{this.raiz}}
        &nbsp; • &nbsp; <strong>Iterações:</strong> {{this.iteracoes.length}}
    </div>

    <div class="card-body p-0">
        <table class="table table-sm mb-0">
            <thead>
                <tr>
                    <th>a</th>
                    <th>b</th>
                    <th>meio</th>
                    <th>f(a)</th>
                    <th>f(b)</th>
                    <th>f(meio)</th>
                </tr>
            </thead>
            <tbody>
                {{#each this.iteracoes}}
                <tr>
                    <td>{{this.a}}</td>
                    <td>{{this.b}}</td>
                    <td>{{this.buscaMeio}}</td>
                    <td>{{this.fA}}</td>
                    <td>{{this.fB}}</td>
                    <td>{{#if this.fM}}{{this.fM}}{{else}}{{this.meio}}{{/if}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
{{/each}}
{{/if}}